.is-full-height {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.is-full-height.centered {
  justify-content: center;
  align-items: center;
}

/* @media screen and (max-width: 600px) {
  .is-full-height {
    flex-direction: column;
  }
} */
